<div class="edit-user-form">
<%= bootstrap_form_for(@user, layout: :horizontal) do |f| %>
  <div class="field">
    <%= f.text_field :username, :size => 30, :label => '用户名' %>
  </div>
  <div class="field">
    <%= f.password_field :password, :size => 30, :label => '重置密码' %>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation, :size => 30, :label => '确认密码' %>
  </div>
  <div class="field">
    <%= f.text_field :telephone, :size => 12, :label => '手机号码' %>
  </div>
  <div class="field">
    <%= f.email_field :email, :label => '常用邮箱' %>
  </div>
  <div class="field">
    <%= f.text_field :real_name, :size => 12, :label => '真实姓名' %>
  </div>
  <div class="field">
    <%= f.text_field :id_card_num, :size => 12, :label => '身份证号码' %>
  </div>
  <div class="actions">
    <%= f.submit '保存修改' %>
    <input class="btn btn-default user" id="user-edit-btn" name="commit" type="" value="进行修改"></input>
  </div>
<% end %>
</div>
