<% @title = "你好， " + @user.username %>

<div class="show-user-container">
  <div class="show-user">
    <div class="show-user-form">
      <%= bootstrap_form_tag url: '/charge', layout: :horizontal do |f| %>
        <%= f.text_field :name, label: '银行卡号' %>
        <%= f.password_field :password, label: '银行卡密码' %>
        <%= f.number_field :amount, label: '金额' %>
        <%= f.submit "充值" %>
      <% end %>
    </div>
  </div>
</div>
